.nejma-upload-photo-container {
  display: flex;
  flex-direction: column;
  & .nejma-upload-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0 2px 20px 0 rgba(8, 9, 30, 0.1);
    -webkit-box-shadow: 0 2px 20px 0 rgba(8, 9, 30, 0.1);
    -moz-box-shadow: 0 2px 20px 0 rgba(8, 9, 30, 0.1);
    -webkit-appearance: none;
    background: white;
    & > img {
      color: orange;
      width: 75px;
    }
  }
  & .nejma-upload-talent {
    width: 250px !important;
    height: 370px !important;
    border-radius: 30px !important;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  & > p {
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    color: #929598;
    margin-top: 5px;
  }
}
