.search-bar-result {
  border-radius: 30px;
  background-color: #f2f0f0;
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 60px;
  max-height: 450px;
  overflow-y: scroll;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .2);
  animation: showSlow .3s;
  @media (max-width: 900px) {
    display: none !important;
  }

  & .search-bar-result-item {
    margin: 0 auto;
    min-height: 60px;
    padding: 20px 0;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.65);

    & .talent-name {
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }

    & .category-name {
      font-size: 14px;
      font-weight: 600;
      color: #8f9094;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.search-bar-result-mobile {
  &-show {
    display: flex !important;
    @media(min-width: 900px) {
      display: none !important;
    }
  }
  display: none !important;
  position: unset;
}

@keyframes showSlow {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {

    opacity: 1;
    transform: translateY(0px);

  }
}
