@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");
html, body{
    scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;

}

button,
input,
select {
  font-family: inherit;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.main-color {
  color: #eb2a74;
}
.main-background-color {
  background-color: #eb2a74;
}
.boxed-wide {
  max-width: 1630px;
  margin: auto;
}
.boxed {
  max-width: 1250px;
  margin: auto;
}
.boxed-narrow {
  max-width: 800px;
  margin: auto;
}

@media (max-width: 1300px) {
  .desktop-break {
    display: none;
  }
}

/* Select Box  */
.ant-select-dropdown {
  border-radius: 30px;
}

.ant-select-item-option {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.ant-select-item-option-selected {
  background-color: #f5f5f5 !important;
}
.ant-select-selection-search-input {
  font-family: inherit;
  font-weight: inherit;
}
