.accept-request-wrapper {
  padding: 71px 0 130px;
  background-image: url("../../../assets/cropped-star-backgroud.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  font-family: inherit;

  & .accept-request-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #08091e;
    text-align: center;
    margin-bottom: 60px;
  }

  & .accept-request-section {
    margin: auto;
  }
}

.card-section-wrapper {
  height: auto;
  width: 1213px !important;
  max-width: 2000px;
  margin: 0 auto;
  box-shadow: 0 20px 60px 0 rgba(8, 9, 30, 0.16);
  border-radius: 60px;
  background-color: #eb2a74;
  background-image: url("../../../assets/left-quote.svg");
  background-position: center;
  background-repeat: no-repeat;

  & > .card-content {
    max-width: 460px;
    margin: auto;
    padding: 35px 0 120px;
    font-size: 24px;
    color: white;
    font-weight: 600;
    text-align: center;

    & .big {
      // for big font
      font-size: 40px;
    }

    & .underline {
      text-decoration: underline;
    }

    & button {
      color: black;

      & > img {
        margin: 0 10px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .card-wrapper {
    padding: 60px 15px;

    & .card-content {
      padding: 30px 15px 50px;
    }
  }
  .card-section-wrapper {
    height: auto;
    width: 70% !important;
  }
}

@media (max-width: 1100px) {
  .card-wrapper {
    padding: 60px 15px;

    & .card-content {
      padding: 30px 15px 50px;
    }
  }
  .card-section-wrapper {
    height: auto;
    width: 80% !important;
  }
}

@media (max-width: 800px) {
  .card-section-wrapper {
    height: auto;
    width: 95% !important;
    border-radius: 30px;
    & .accept-request-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 50px;
      color: #08091e;
      text-align: center;
      margin-bottom: 60px;
    }

    & > .card-content {
      max-width: 460px;
      margin: auto;
      padding: 35px 0 120px;
      font-size: 16px;
      color: white;
      font-weight: 600;
      text-align: center;

      & .big {
        // for big font
        font-size: 24px;
      }

      & .underline {
        text-decoration: underline;
      }

      & button {
        color: black;
        width: 90%;
        margin-top: 40px;
        & > img {
          margin: 0 10px;
        }
      }
    }
  }
}
